.nav-wrapper{
    background-color: red;

    grid-area: A;
}

.nav-content {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-content-option {
    background-color: #fff;
    width: 100%;
    height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: none;
    padding-top: 25px;
    transition: .1s;

    &:hover{
        background-color: #e6ebf5;
    }


    color: #000046;
}

    
.nav-content-option-selected {
    background-color: #e6ebf5;
    width: 100%;
    height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: none;
    padding-top: 25px;
    transition: .1s;

    &:hover{
        background-color: #e6ebf5;
    }


    color: #000046;
}